body {
    background-color: SaddleBrown;
	margin: 0;
}

/********** klasy div **********/
.container {
    color: white;
    margin: auto;
    text-align: center;
}

.menu {
    background-color: SaddleBrown;
    height: 100%;
    position: fixed;
    width: 20%;
}

.content {
    background-image: url("img/bg2.png");
    float:left;
    left: 20%;
    position: relative;
    width: 80%;
}

.field_red {
    background-color: darkred;
    border-radius: 20px;
    display: inline-block;
    width: 32%;
}

.field_green {
    background-color: darkgreen;
    border-radius: 20px;
    display: inline-block;
    width: 32%;
}

.field_blue {
    background-color: darkblue;
    border-radius: 20px;
    display: inline-block;
    width: 32%;
}

.bottombanner {
    bottom: 0;
    left: 0;
    position: absolute;
    width: 100%;
}

.fun {
    background: orange;
    background: -moz-linear-gradient(top, orange 0%, blue 100%);
    background: -webkit-linear-gradient(top, orange 0%, blue 100%);
    background: linear-gradient(top, orange 0%, blue 100%);
    border-radius: 10px;
    box-shadow: 2px 2px 4px 2px rgba(255,40,100,0.6);
    height: 100px;
    width: 100px;
}

#dioda {
    background: lightgray;
    border-radius: 50px;
    height: 100px;
    width: 100px;
}

#showContent {
    background: white;
    border-radius: 10px;
    color: black;
    margin: auto;
    max-height: 250px;
    overflow: hidden;
    width: 400px;

    -webkit-transition: max-height 0.7s;
    -moz-transition: max-height 0.7s;
    transition: max-height 0.7s;
}

#showContent.open {
    max-height: 1000px;

    -webkit-transition: max-height 0.7s;
    -moz-transition: max-height 0.7s;
    transition: max-height 0.7s;
}

#showButton {
    background: blue;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    display: block;
    margin: auto;
    width: 150px;
}

#timerTest {
    background: Indigo;
    border: 2px solid white;
    border-radius: 10px;
    height: 100px;
    margin: 20px auto;
    width: 300px;

    -webkit-transition: background 0.7s;
    -moz-transition: background 0.7s;
    transition: background 0.7s;
}

.kolumny {
    -webkit-column-count: 3;
    column-count: 3;
    -webkit-column-gap: 50px;
    column-gap: 50px;
    -webkit-column-rule: 1px solid #ccc;
    column-rule: 1px solid #ccc;
    text-align: justify;
    margin: 2%;
}

.circle {
    width: 200px;
    line-height: 0;
    border-radius: 100px;
    background: darkblue;
    margin: 50px auto;
    cursor: pointer;
    padding: 100px 0;
    transition: background 1s, transform 0.5s;
}

.circle:hover {
    background: blue;
    transform: rotate(360deg);
}

.way {
    height: 120px;
    background: gold;
    margin: 20px 0;
    box-sizing: border-box;
    width: 100%;
}

.arrow {
    position: absolute;
    left: 0;
    height: 120px;
    animation: move 3s both infinite alternate linear;

}

@keyframes move {
    from{ transform: translateX(0) }
    to{ transform: translateX(500px) rotateZ(180deg);}
}

@keyframes rotat {
    0%{ transform: rotateX(180deg) }
    100%{ transform: rotateX(180deg) }
}

.clear {clear: both;}

/********** linki **********/
a:link {color: white;}
a:visited {color: lightgray;}
a:hover {color: DarkGoldenRod;}
a:active {color: red;}

/********** lista **********/
ul {text-align: left;}
.content ul {list-style-position: inside;}
.tips {list-style-type: square;}
.todos {list-style-type: circle;}

/********** kolory czcionki **********/
.colorred {color: red}
.colorgreen {color: green}
.colorblue {color: blue}
